# IDE config
.idea/

# Bundler / Ruby
/vendor/bundle/
/.bundle/
/.bundle/*

# Jekyll build artifacts & caches
_site/
.jekyll-cache/
.sass-cache/
.cache/
.jekyll-metadata/
vendor/

# Node
node_modules/

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs / temp
*.log
tmp/
