{%- assign current_lang = page.lang | default: site.lang | default: "en" -%}

<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    {%- comment -%}Language switcher{%- endcomment -%}
    {% for lang in site.data.i18n.language_name %}
      <li class="aux-nav-list-item">
        <a href="{{ site.baseurl }}{{ page.url }}?lang={{ lang }}" class="site-button{% if current_lang == lang %} active{% endif %}">
          {{ site.data.i18n.language_name[lang] }}
        </a>
      </li>
    {% endfor %}
    
    {%- comment -%}Other aux links{%- endcomment -%}
    {% for link in site.aux_links %}
      <li class="aux-nav-list-item">
        {% if link.last contains "://" %}
          <a href="{{ link.last }}" class="site-button"
            {% if site.aux_links_new_tab %}
            target="_blank" rel="noopener noreferrer"
            {% endif %}
          >
            {{ link.first }}
          </a>
        {% else %}
          <a href="{{ site.baseurl }}{{ link.last }}" class="site-button"
            {% if site.aux_links_new_tab %}
            target="_blank" rel="noopener noreferrer"
            {% endif %}
          >
            {{ link.first }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
