<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    {%- comment -%}Language switcher{%- endcomment -%}
    {% for lang in site.languages %}
      <li class="aux-nav-list-item">
        {% if lang == "en" %}
          <a href="{{ site.baseurl }}/" class="site-button{% if page.lang == lang %} active{% endif %}">
            {{ site.data.i18n[lang].language_name }}
          </a>
        {% else %}
          <a href="{{ site.baseurl }}/{{ lang }}/" class="site-button{% if page.lang == lang %} active{% endif %}">
            {{ site.data.i18n[lang].language_name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    
    {%- comment -%}Other aux links{%- endcomment -%}
    {% for link in site.aux_links %}
      <li class="aux-nav-list-item">
        {% if link.last contains "://" %}
          <a href="{{ link.last }}" class="site-button"
            {% if site.aux_links_new_tab %}
            target="_blank" rel="noopener noreferrer"
            {% endif %}
          >
            {{ link.first }}
          </a>
        {% else %}
          <a href="{{ site.baseurl }}{{ link.last }}" class="site-button"
            {% if site.aux_links_new_tab %}
            target="_blank" rel="noopener noreferrer"
            {% endif %}
          >
            {{ link.first }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
