---
layout: table_wrappers
---

{%- comment -%}
Language detection
{%- endcomment -%}
{%- if page.url contains "?" -%}
  {%- assign url_params = page.url | split: "?" | last | split: "&" -%}
  {%- for param in url_params -%}
    {%- if param contains "lang=" -%}
      {%- assign page_lang_param = param | remove: "lang=" -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- assign current_lang = page_lang_param | default: page.lang | default: site.lang -%}
{%- assign p = site.data.i18n.pages[page.i18n_key] -%}


<!DOCTYPE html>

<html lang="{{ current_lang }}">
{% include head.html %}
{% include components/aux_nav.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% if page.nav_enabled == true %}
    {% include components/sidebar.html  page_lang=page.lang %}
  {% elsif layout.nav_enabled == true and page.nav_enabled == nil %}
    {% include components/sidebar.html page_lang=page.lang %}
  {% elsif site.nav_enabled != false and layout.nav_enabled == nil and page.nav_enabled == nil %}
    {% include components/sidebar.html page_lang=page.lang %}
  {% endif %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <main>
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
            {{ content }}
          {% endif %}

          {% if page.has_toc != false %}
            {% include components/children_nav.html %}
          {% endif %}
        </main>
        {% include components/footer.html %}
      </div>
    </div>
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
